@mixin centerElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin borderRadius($value){
    border-radius: $value; 
    -moz-border-radius: $value; 
    -webkit-border-radius: $value;
}

@mixin rounded {
    content: "";
    position: absolute;
    border-radius: 100%;
}

$primaryBlackColor: #09090b ;
$secondaryBlackColor: lighten($primaryBlackColor,15%);
$screenBgColor: #3498db;


html,body{
    background: #34495e;
}

.container{
    background: $primaryBlackColor;
    width:1200px;
    height:700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @include centerElement();
    @include borderRadius(20px);
    position: relative;
    
    //Camera
    &:before {
        width:12px;
        height:12px;
        @include rounded();
        left:12px;
        border: 1.5px solid $secondaryBlackColor;
        background: $primaryBlackColor;
    }

    //Button
    &:after{
        width: 30px;
        height: 30px;
        @include rounded();
        right:4px;
        border:3px solid $secondaryBlackColor;
        box-shadow: 15px 0px 30px -20px white inset;
        -moz-box-shadow: 15px 0px 30px -20px white inset;
        -webkit-box-shadow: 15px 0px 30px -20px white inset;
        background: $primaryBlackColor;
    }
}


.ipad-body{
    width: 92%;
    height:90%;
    background:$screenBgColor;
    @include centerElement();
}
/*
.start-up{
    width:1200px;
    height: 700px;
    background: black;
    position: absolute;
    -webkit-animation: startUp 1s linear forwards;
    animation: startUp 1s linear forwards;

}

.reflection{
    width:100%;
    height: 100%;
    background: green;
    position: absolute;
    
    -webkit-animation: startUpRef 1s linear forwards;
    animation: startUpRef 1s linear forwards;
    &:before{
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 700px 0 0 700px;
        border-color: transparent transparent transparent gold;
        bottom:0px;
        position: absolute;
    }
}


@-webkit-keyframes startUpRef{
    from{
        opacity: .3;
    }
    to{
        opacity: 0;
    }
}

@keyframes startUpRef{
    from{
        opacity: .3;
    }
    to{
        opacity: 0;
    }
}


@-webkit-keyframes startUp{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes startUp{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
*/
canvas{
    background:black;
}
